<!DOCTYPE html>
<html lang="en">
{% comment %} CineMagic {% endcomment %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Movie_home</title>
</head>

<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="img/logo.png">
        </div>
        <div class="showcase-content">
            <h1>See what's next</h1>
            <p>Watch anywhere. Cancel anytime</p>
        </div>
    </header>

    <section class="tabs">
        <div class="container">
            <div id="tab-1" class="tab-item tab-border">
                <i class="fas fa-door-open fa-3x"></i>
            </div>
            <div id="tab-2" class="tab-item">
                <i class="fas fa-tablet-alt fa-3x"></i>
            </div>
            <div id="tab-3" class="tab-item">
                <i class="fas fa-door-open fa-3x"></i>
            </div>
        </div>
    </section>



    <section class="content containers">
        <h2 class="section_header">Types of Movies</h2>
        <br><br>
        <div class="table">
            <div class="row">
                <strong style="font-weight: bolder; color: black;" class="row-item serial">Serial NO_.</strong>
                <span style="font-weight: bolder; color: black;" class="row-item dist">Genre</span>
                <span style="font-weight: bolder; color: black;">View More</span>
            </div>

            <div class="row">
                <span class="row-item serial">1st </span>
                <span class="row-item layer"> Comedy</span>
                <button type="button" width="60px" height="10px" class="btn row-item view-btn btn-primary">View</button>

            </div>


            <div class="row">
                <strong class="row-item serial">2nd </strong>
                <span class="row-item layer">Action</span>
                <button type="button" class="btn row-item view-btn btn-primary">View</button>
            </div>
            <div class="row">
                <strong class="row-item serial">3rd </strong>
                <span class="row-item layer">Drama</span>
                <button type="button" class="btn row-item view-btn btn-primary">View</button>
            </div>
            <div class="row">
                <strong class="row-item serial">4th </strong>
                <span class="row-item layer">Science Fiction</span>
                <button type="button" class="btn row-item view-btn btn-primary">View</button>
            </div>
            <div class="row">
                <strong class="row-item serial">5th </strong>
                <span class="row-item layer">Thriller</span>
                <button type="button" class="btn row-item view-btn btn-primary">View</button>
            </div>
        </div>
        <br><br>
    </section>

    <footer class="footer">
        <p>Questions? Contact Us.</p>
        <div class="footer-cols">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Ways To Watch</a></li>
            </ul>
            <ul>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Speed Test</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>